.card {
  width: 275px;
}

/* Aspect Ratios */
.aspect916 { /* 9:16 */
  aspect-ratio: 9/16;
}

.aspect169 { /* 16:9 */
  aspect-ratio: 16/9;
}

.aspect11 { /* 1:1 */
  aspect-ratio: 1/1;
}

.aspect45 { /* 4:5 */
  aspect-ratio: 4/5;
}