.core {
  width: 100%;
}

.colorD {
  background-color: var(--clrD_a);
}

.colorL {
  background-color: var(--clrL_a);
}

.heightMin {
  min-height: 100vh;
}

.heightFill {
  height: 100%;
}

.widthMax {
  max-width: var(--max_1);
}

.paddingX {
  padding-left: var(--vlu_x);
  padding-right: var(--vlu_x);
}

.paddingY {
  padding-top: var(--vlu_y);
  padding-bottom: var(--vlu_y);
}

.gapX {
  gap: var(--vlu_x);
}
.gapY {
  gap: var(--vlu_y);
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.paddingHeader {
  padding-bottom: var(--hgt_header);
}

.spacingTop {
  padding-top: var(--vlu_z);
}

.spacingBottom {
  padding-bottom: var(--vlu_z);
}