.row {
  display: flex;
  gap: .75rem;
  width: 100%;
  min-width: var(--min_1);
  max-width: var(--max_3);
  align-items: center;
}
.right {
  flex-direction: row-reverse;
}
.vector {
  flex-grow: 1;
}
.vector svg {
  width: 100%;
  height: 16px;
  display: block;
  overflow: visible;
}
.btnContainer {
  width: auto;
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}
.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
}
.textInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: transform var(--anm);
}
.textInner.showBack {
  transform: translateY(-26px);
}
.textButton, .btnContainer button, .btnContainer a {
  height: 26px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}
.row[data-side="left"] {
  margin-left: .25rem;
}
.row[data-side="right"] {
  margin-right: .25rem;
}
.row[data-direction="down"] {
  align-items: flex-end;
}
.row[data-side="right"] .btnContainer,
.row[data-side="right"] .textContainer,
.row[data-side="right"] .textInner {
  align-items: flex-end;
  text-align: right;
  justify-content: flex-end;
} 