:root {
  --min_1: 200px;
  --max_1: 1200px;
  --max_2: 600px;
  --max_3: 400px;
  --wgt: 300;
  --anm:750ms cubic-bezier(0.8, 0, 0.25, 1);

  --vlu_x: 1.5rem;

  --vlu_z: 12rem;

  --vlu_y: 1rem;

  --clrL_a: #ffffff;
  --clrL_m: #17171715;
  --clrL_z: #171717;
  --clrL_b: #FF4D19;

  --clrD_a: #000000;
  --clrD_m: #f5f5f521;
  --clrD_z: #f5f5f5;

  --clrA_a: var(--clrL_a);
  --clrA_m: var(--clrL_m);
  --clrA_z: var(--clrL_z);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clrA_a: var(--clrD_a);
    --clrA_m: var(--clrD_m);
    --clrA_z: var(--clrD_z);
  }
}

[data-applycolorreverse] {
  --clrL_a: var(--clrD_a);
  --clrL_m: var(--clrD_m);
  --clrL_z: var(--clrD_z);
}

[data-applycolorreverse] button {
  color: var(--clrL_z);
}
[data-applycolorreverse] svg, [data-applycolorreverse] [stroke] {
  stroke: var(--clrL_m);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  
  font-family: var(--fnt);
  font-weight: var(--wgt);
  font-size: 15px;
  letter-spacing: .33px;
  line-height: 1.75rem;
  text-align: left;
  text-transform: none;
  text-indent: 0;
  text-decoration: none;
  text-shadow: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

body {
  background: var(--clrA_a);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body.draggerTrue {
  user-select: none !important;
  -webkit-user-select: none !important;
  overflow: hidden !important;
}