:root {
  --wgt_1: 300;
  --anm: 750ms cubic-bezier(0.8, 0, 0.25, 1);

  --vlu_x_1: 1.5rem;
  --vlu_y_1: 1rem;
  --vlu_spacing_1: 5rem;

  --max_w_1: 1200px;
  --max_w_2: 750px;
  --max_w_3: 600px;

  --max_3: 350px;

  --clrL_a: #ffffff;
  --clrL_m: #17171715;
  --clrL_z: #171717;
  --clrL_b: #FF4D19;

  --clrD_a: #000000;
  --clrD_m: #f5f5f521;
  --clrD_z: #f5f5f5;

  --clrA_a: var(--clrL_a);
  --clrA_m: var(--clrL_m);
  --clrA_z: var(--clrL_z);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --clrA_a: var(--clrD_a);
    --clrA_m: var(--clrD_m);
    --clrA_z: var(--clrD_z);
  }
}

[data-colorReverse] {
  --clrA_a: var(--clrD_a);
  --clrA_m: var(--clrD_m);
  --clrA_z: var(--clrD_z);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  
  color: var(--clrA_z);
  font-family: var(--fnt);
  font-weight: var(--wgt_1);
  font-size: 15px;
  letter-spacing: .33px;
  line-height: 1.75rem;
  text-align: left;
  text-transform: none;
  text-indent: 0;
  text-decoration: none;
  text-shadow: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  list-style: none;
}

html {
  --container-x: 0%;
  --panel-x: 100%;
  --headerpanel-x: 0%;
}

body {
  background: var(--clrA_a);
}

html.sidepanel-open {
  --container-x: -50%;
  --panel-x: 0%;
}

html.headerpanel-open {
  --headerpanel-x: 50vw;
}

@media (max-width: 700px) {
  html.sidepanel-open {
    --container-x: -100vw;
  }
  html.headerpanel-open {
    --headerpanel-x: 100vw;
  }
}

.sidepanel-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--anm);
}

html.sidepanel-open .sidepanel-overlay {
  opacity: 1;
}

.shiftable {
  transform: translateX(calc(var(--container-x) + var(--headerpanel-x)));
  transition: transform var(--anm);
}

/* Sidepanel Animation - nutzt CSS-Variable */
[data-modal-panel] {
  transform: translateX(var(--panel-x));
  transition: transform var(--anm);
}

.visually-hidden {
position: absolute !important;
width: 1px !important;
height: 1px !important;
padding: 0 !important;
margin: -1px !important;
overflow: hidden !important;
clip: rect(0 0 0 0) !important;
white-space: nowrap !important;
border: 0 !important;
}