.core {
  width: 100%;
  position: relative;
}

.media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  position: absolute;
  opacity: .33;
}

.verbal {
  position: relative;
  z-index: 1;
} 