.footer {
  width: 100%;
  border-top: 1px solid var(--clrA_m);
  margin-top: var(--vlu_spacing_1);
  padding-bottom: 160px;
}

.link {
  text-decoration: none;
  transition: opacity var(--anm);
}

.link:hover {
  opacity: 1 !important;
} 