.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}
.clrd {
  background: var(--clrd_a);
}
.clrl {
  background: var(--clrl_a);
} 